body {
    margin: 0;    
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.title{
    @include title(uppercase, $color-primary);
    font-size: $font-size-title;
}


div[class^="section-"]{
    padding: $padding 0;
    

    @media screen and (max-width:$mobile){
        width:90%;
    }
}
