// colors
$black: #000;
$white: #fff;
$gray: #ccc;
$blue: #5da09c;


$color-primary: $black;
$color-icon: $blue;
$color-secondary: $white;
$color-bg: $gray;


// size
$padding: 40px;
$font-size-text: 19px;
$font-size-title: 30px;


$font-title: "Roboto";
$font-text: "Monserrat";

//breakpoint 
$mobile: 420px;
