/* Anatomia do CSS */
body {
    background-color: rgba(179, 130, 186, 36%);
    font-family: "Montserrat", "sans-serif";
}

.site_container {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.cabecalho__titulo, .cabecalho__subtitulo {
    text-align: center;
}
.cabecalho__titulo {
    color: #5d1277;
}

.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 46.875%;
    
}

.container__conteudo, .container__ilustracao{
    display: inline-block;
    width: 20.833333%;
    margin: 10px;
    vertical-align: middle;
}

@media (max-width:768px) {
    .container__conteudo, .container__ilustracao {
        width:100%;
        display: block;
        margin: 2vw;

    }
}

.conteudo__subtitulo {
    font-size: 20px;
    color: #5d1277;
    font-weight: bold;
    margin: 10px 0;
}

.ilustracao__gif {
    width: 100%;
}

.btns {
    margin-top: 40px;
}

@media (max-media:768px) {
    .btns {
        display: flex;
    }
}

@media (max-media:420px) {
    .btns {
        flex-wrap: wrap;
    }
}
.conteudo__btn {
    background-color: #5d1277;
    padding: 20px;
    border: 1px solid #5d1277;
    text-transform: uppercase;
    color: #ffffff; 
    font-size: 16px;
    font-family: "Montserrat";
}

@media (max-media:768px) {
    .conteudo__btn {
        margin: 2vw;
    }
}

.conteudo__btn--transparente {
    background-color: transparent;
    border: 1px solid #5d1277;
    color: #5d1277;
    box-sizing: border-box;
    
}
    