.teste {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.resultadp {
    width: 60%;
    margin: 0 auto;
}

.friends__img {
    max-width: 50%;
    margin: 50px auto;
}

.btn {
    text-align: center;
}

