* {
    margin: 0;
    padding: 0;
}

.navegacao {
    display: flex;
    /* as propriedades abaixo sรณ funcionam com display flex */
    align-items: center;
    justify-content: space-between; /* organizar horizontalmente */
    padding: 30px; /*todos os lados*/
}

.navegacao__menu {
    list-style: none;
    padding-left: 0;
}

.navegacao__menu li {
    display: inline-block;
    margin: 0 0 0 20px;
}

.navegacao__logo {
    width: 200px;
}

.conteudo {

}

.conteudo__container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.conteudo__foto {
    width: 150px;
    border-radius: 100px;
}

.conteudo__artigo {
    width: 500px;
}