body {
    font-family: sans-serif;
    font-size: 14px;
}

th, td {
    border-right: 1px solid #d8d8d8;

}

.planos {
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    color: #000;
}

tr td:first-child { /*primeiro elemento da linha*/
    text-align: left;
}

.table_body > tr:nth-child(odd)  > td { /* '>' seletor por referência*/
    background-color: #dfdfdf
}

.titulos th {
    border-bottom: none;
    border-top: none;
}

.titulo {
    color: #fff;
    font-weight: normal;
    background-color: #009e2c;
    font-size: 14px;
    padding: 14px 60px;
}

.titulo--azul {
    background-color: #0078c1;
}

.cabecalho > th {
    padding: 0;
}

.btn {
    border: none;
    background-color: #ff5406;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}

.btn_line th {
    padding: 10px 0;
    
}


.blue_check {
    color: #1214B1;
}

.green_check {
    color: green;
}
