.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-info h1 {
    font-size: 32px;
}

.product-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.product-info p > a {
    color: #069;
    text-decoration: none;
}

.product-info > a {
    height: 42px;
    border-radius: 5px;
    border: 1px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-bottom: 20px;
}

.product-info > a:hover {
    background: #da552f;
    color: #fff;
}

.product-info .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-info .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.product-info .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.product-info .actions button:hover {
    opacity: 0.7;
}
.product-info .actions button[disabled]:hover {
    opacity: 0.5;
}