body {
    font-family: 'Lobster', cursive;
    background-image: url("./background.jpg");
    color: #fff;
    
}

.container {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 40px;
}

#conteudo-brasil {
    display: none;
}

.select-menu {
    background-color: purple;
    border: none;
    color: #fff;
    font-size: 20px;
    text-align: left;
    width: 300px;
    padding: 10px;
}



